body{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height:1000vh;
    flex-direction: column;
    align-items: center;
    font-family: "Helvetica Neue", sans-serif;
}

.box {
    border-radius: 50%;
    background-color: #111;
    padding:10px;
}

.divie{
    position: fixed;
    /* transform: translate (-50%, -50%); */
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    transition-timing-function: linear;
}


.titlie{
    position: fixed;
    margin-top: 30px;
}